@import url('https://fonts.googleapis.com/css?family=Oswald');

/* reset */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #eee;
    color: #333;
    font-size: 16px;
}
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  a, a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none; 
    }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  /* END reset */
  .responsive-img {
    display: block;
    width: 100%;
    }
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.container_100 {margin-bottom: 5%;width: 100%;}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }
 header {background: #ADD8E6;}
 .main_header {display: flex;margin: 0 auto 5% auto; padding-top: 5%;}
 .main_header .logo {flex-grow: 2;}
 .main_header .search_cart_holder {flex-grow: 10;display: flex;justify-content:flex-end;}
 .main_header .search_cart_holder .search {position: relative;}
 .main_header .search_cart_holder .cart {margin-left: 10px; width: 33px;}

 .search_input {
     border: 0 none;
     border-bottom: 1px solid #999;
     background-color: transparent;
     display: block;
     width: 200px;
     height: 30px;
     padding-right: 20px;
     padding-top: 3px;
     padding-left: 4px;
     outline: none;
 }
.search_btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
 }


.product_wrapper {display: flex;flex-wrap: wrap;}
.product {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-grow: 1;
    margin-bottom: 3%;
}
.product_holder:hover .image_holder img {
    opacity: 0.6;
}

.product_title {display: flex;padding: 5px;}
.product_title > h3,
.product_title > span {flex-grow: 1;}
.product_title > span {text-align: right;}

.image_holder {position: relative;}
.image_holder .icon_shop_bag {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ADD8E6;
    position: absolute;
    bottom: 0;
    color: #fff;
    transition: .5s ease;
    height: 0;
    text-align: center;
    overflow: hidden;
}
.image_holder .icon_shop_bag a {
    color: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.image_holder:hover .icon_shop_bag {
    height: 50px;
}
.image_holder:hover .icon_shop_bag a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}
.modal {
    position: absolute;
    border: 1px solid #999;
    background: #ADD8E6;
    width: 60%;
    margin-left: -30%;
    left: 50%;
    top: 20%;
    padding: 5%;
    display: none;
    z-index: 10000;
}
.modal.visible {
    display: block;
}
.total {
    display: flex;
    margin: 5% 0;
    justify-content: flex-end;
    border-top: 1px solid #999;
    padding: 5px 0;
}
.product_cart_holder {margin-bottom: 10px;}
.product_cart {display: block;width: 100%;}
.product_cart_title > .cart_item {max-width: 50px;flex-grow: 1}
.product_cart_title,
.checkout {display: flex;}
.product_cart_title h3 {flex-grow: 1;align-self: flex-end;margin-left: 5px;}
.product_cart_title .cart_item,
.checkout .bck {flex-grow: 1;text-align: left;}
.product_cart_title span {flex-grow: 1;align-self: flex-end;text-align: right;}
.checkout .check {flex-grow: 1;text-align: right;}

.checkout .chek a,
.checkout .bck a{
    border: 1px solid #999;
    padding: 10px;
    color: #333;
    background: #fff;
}
footer {
    height: 100px;
    background: #ADD8E6;
}
/* media queries */
@media screen and (max-width: 767px) {
    .container {
        max-width: 750px;
    }
    .product {width: 100%;}
    .image_holder .icon_shop_bag {
        display: block;
        position: relative;
        bottom: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 970px;
    }
    .product {width: 50%;}
    .image_holder .icon_shop_bag {
        display: block;
        position: relative;
        bottom: 50px;
        height: 50px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .product {width: 33.33333333%;}
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .product {width: 25%;}
}



